:root {
    --dark-background: #1F2937;
    --white-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --cta-color: #3882F6;
}
* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: var(--dark-background);
    color: var(--white-text);
    padding-bottom: 120px;
}

.hero p1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text-container p{
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}

nav {
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-between;
}

nav p {
    font-weight: bold;
    font-size: 24px;
    float: left;
}

nav ul {
    list-style-type: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: var(--white-text);
}

ul li {
    font-weight: 200;
    margin-left: 20px;
}

button {
    background-color: var(--cta-color);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: var(--white-text);
    font-weight: bold;
}

.img-placeholder {
    background-color: gray;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
}

.hero-text-container {
    width: 50%;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 36px;
}

.small-image-placeholder {
    width: 175px;
    height: 175px;
    border: 4px solid var(--cta-color);
    border-radius: 15px;
}

.small-image-container {
    display: flex;
    flex-direction: column;
}

.small-image-container p {
    text-align: center;
    padding-right: 55px;
    margin-top: 15px;
    font-weight: 200;
}

.images-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;
}

.quote-section {
    background-color: var(--secondary-text);
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-section blockquote {
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
}

.quote-section p {
    font-weight: bold;
    float: right;
    font-size: 18px;
}